<main>
  <div class="container" [class.sidebar-pinned]="isSidebarPinned">
    <nav class="nav">
      <div class="nav__left">
        <div class="sidebar__mobile-toggle" (click)="toggleMobileSidebar()">
          ☰
        </div>

        <ul class="nav__menu">
          <li class="nav__menu-item"><a href="#">Hệ thống</a></li>
          <li class="nav__menu-item"><a href="#">Danh mục</a></li>
          <li class="nav__menu-item"><a href="#">Tiện ích</a></li>
          <li class="nav__menu-item"><a href="#">Báo cáo</a></li>
        </ul>

        <div class="nav__contact">
          <div class="nav__contact-item">
            <div class="nav__contact-icon-call">
              <img src="../assets/icons/icon-call.png" alt="icon-call">
            </div>
            <span class="nav__contact-text">1900.57.57.54</span>
          </div>
          <div class="nav__contact-item">
            <div class="nav__contact-icon-zalo">
              <img src="../assets/icons/icon-zalo.png" alt="icon-zalo">
            </div>
            <span class="nav__contact-text">Hỗ trợ khách hàng</span>
          </div>
        </div>
      </div>
      <div class="nav__right">
        <div>
          <div class="nav__right-notification">
            <img src="../assets/icons/icon-notification.png" alt="logo-notification">
          </div>
          <div class="nav__right-text">Công ty TNHH công nghệ và thương mại Softdreams</div>
        </div>
        <div class="nav__user">
          <div class="nav__user-avt">
            <img src="../assets/images/avt-user.png" alt="avt">
          </div>
          <div class="nav__user-name">Admin</div>
        </div>

        <div class="mobile__menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <div class="mobile__menu-list">
            <ul>
              <li>Hệ thống</li>
              <li>Danh mục</li>
              <li>Tiện ích</li>
              <li>Báo cáo</li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <aside class="sidebar" [class.pinned]="isSidebarPinned" [class.mobile-open]="isMobileSidebarOpen"
      (mouseenter)="onSidebarHover(true)" (mouseleave)="onSidebarHover(false)">

      <div class="sidebar__logo">
        <img src="../assets/logo-eb.png" alt="logo">
        <div class="sidebar__logo-text">Easy Book</div>
      </div>
      <button class="sidebar__pin" (click)="toggleSidebarPin($event)">
        📌
      </button>

      <button class="sidebar__close" (click)="toggleMobileSidebar()">
        X
      </button>
      <div class="sidebar__item" *ngFor="let item of sidebarItems; let i = index" [class.open]="isItemOpen(i)">
        <div class="sidebar__item-content" (click)="toggleSubmenu(i)" [class.active-parent]="isParentActive(i)">
          <div>
            <div class="sidebar__icon">
              <img [src]="item.icon" [alt]="item.title" />
            </div>

            <div class="sidebar__item-title">
              {{ item.title }}
            </div>
          </div>

          <span class="sidebar__submenu-icon" *ngIf="item.subMenu">
            <svg width="20" height="20" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.4201 8.94995L13.9001 15.47C13.1301 16.24 11.8701 16.24 11.1001 15.47L4.58008 8.94995"
                stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </div>

        <!-- Submenu -->
        <div class="sidebar__sub-menu" *ngIf="item.subMenu && isSidebarHovered && (isItemOpen(i) || isParentActive(i))">
          <ul>
            <li *ngFor="let sub of item.subMenu; let j = index" (click)="setActiveSubmenu(i, j, $event)"
              [class.active-sidebar]="isSubActive(i, j)">
              <p> {{ sub }}</p>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="main">
      <div class="main__header">
        <h1>Chứng từ bán hàng</h1>
        <div class="main__actions">
          <button class="main__actions-add">
            <img src="../assets/icons/icon-add.png" alt="icon-add">
            <span class="">Thêm</span>
          </button>
          <button class="main__actions-print">
            <img src="../assets/icons/icon-printer.png" alt="icon-printer">
            <span class="">in</span>
            <img src="../assets/icons/icon-arrow-down.png" alt="">
          </button>
          <button class="main__actions-more">
            <img src="../assets/icons/icon-Dot.png" alt="icon-dot">
          </button>
        </div>
      </div>

      <div class="main__content">
        <div class="main__search">
          <div class="main__search-bar">
            <div>
              <img src="../assets/icons/icon-search-normal.png" alt="icon-search-normal">
              <input type="text" placeholder="Tìm kiếm...">
            </div>
          </div>
          <div class="main__search-icons">
            <div>
              <img src="../assets/icons/icon-setting.png" alt="icon-setting">
            </div>
            <div>
              <img src="../assets/icons/icon-filter.png" alt="icon-filter">
            </div>
          </div>
        </div>

        <div class="main__table">
          <div class="main__table-wrraper">
            <table>
              <thead>
                <tr>
                  <th rowspan="2" class="main__table-sticky--left" id="checkbox">
                    <div><input type="checkbox" name=""></div>
                  </th>
                  <th id="stt" rowspan="2">
                    <div>STT</div>
                  </th>
                  <th id="doc-date">Ngày chứng từ</th>
                  <th id="accounting-date">Ngày hạch toán</th>
                  <th id="doc-number">Số chứng từ</th>
                  <th id="number-hd">Số HD</th>
                  <th id="doc-type">Loại chứng từ</th>
                  <th id="object">Đối tượng</th>
                  <th id="interpretation">Diễn giải</th>
                  <th id="money">Tiền hàng 1</th>
                  <th id="actions" rowspan="2" class="main__table-sticky--right">Thao tác</th>
                </tr>
                <tr>
                  <th>
                    <div class="fillter-calendar">
                      <p>Từ ngày - đến ngày</p>
                      <div>
                        <img src="../assets/icons/icon-calendar.png" alt="icon-calendar">
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-calendar">
                      <p>Từ ngày - đến ngày</p>
                      <div>
                        <img src="../assets/icons/icon-calendar.png" alt="icon-calendar">
                      </div>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                  <th>
                    <div class="fillter-lorem">
                      <div>
                        <img src="../assets/icons/icon-lorem.png" alt="icon-lorem" />
                      </div>
                      <p>Lorem is</p>
                    </div>
                  </th>
                </tr>
                <tr class="total__row">
                  <th class="total__row-sticky--left"></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>1233</th>
                  <th class="total__row-sticky--right"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let transaction of pagedTransactions">
                  <td class="tbody-sticky--left">
                    <div>
                      <input type="checkbox" class="checkbox">
                    </div>
                  </td>
                  <td class="text-center">{{transaction?.id}}</td>
                  <td class="text-left">{{ transaction.ngayChungTu }}</td>
                  <td class="text-left">{{ transaction.ngayHachToan }}</td>
                  <td class="text-right">{{ transaction.soChungTu }}</td>
                  <td class="text-right">{{ transaction.soHoaDon }}</td>
                  <td class="text-left">{{ transaction.dienGiai }}</td>
                  <td class="text-left" style="max-width: 330px;">{{ transaction.doiTuong }}</td>
                  <td class="text-left">{{ transaction.loaiChungTu }}</td>
                  <td class="text-right">{{ transaction.soTien }}</td>
                  <td class="tbody-sticky--right">
                    <div class="items-actions">
                      <div><img src="../assets/icons/icon-message-edit.png" alt="icon-message-edit"></div>
                      <div><img src="../assets/icons/icon-copy.png" alt="icon-copy"></div>
                      <div><img src="../assets/icons/icon-dot-column.png" alt="icon-dot-column"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="main__table-pagination">
        <div class="main__table-pagination-info">
          <div>Tổng số: <span>18</span> bản ghi</div>
          <div class="option">
            <div><span style="font-weight:600; color: #050B12;">18</span> bản ghi/trang</div>
            <img src="../assets/icons/icon-arrow-down-bl.png" alt="icon-arrow-down-bl">

            <ul>
              <li>option 1</li>
              <li>option 2</li>
              <li>option 3</li>
              <li>option 4</li>
            </ul>
          </div>
        </div>
        <div class="main__table-pagination-controls">
          <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">
            <img src="../assets/icons/icon-arrow-left.png" alt="icon-arrow-left">
          </button>
          <!-- <button class="page-btn active">1</button>
          <button class="page-btn">2</button>
          <button class="page-btn">3</button>
          <button class="page-btn">4</button>
          <span class="ellipsis">
            <img src="../assets/icons/icon-dot-bl.png" alt="icon-Dot">
          </span>
          <button class="page-btn">12</button> -->
          <ng-container *ngFor="let page of visiblePages">
            <ng-container *ngIf="page !== 0; else dots">
              <button class="page-btn" [class.active]="currentPage === page" (click)="goToPage(page)">
                {{ page }}
              </button>
            </ng-container>

            <!-- dấu ... -->
            <ng-template #dots>
              <span class="ellipsis">
                <img src="../assets/icons/icon-dot-bl.png" alt="icon-dot" />
              </span>
            </ng-template>
          </ng-container>
          <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <img src="../assets/icons/icon-arrow-right.png" alt="icon-arrow-right">
          </button>
        </div>
      </div>
    </div>
  </div>
</main>